<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="PatrikMokry\Orders\Api\OrderRepositoryInterface" type="PatrikMokry\Orders\Model\OrderRepository" />
	<preference for="PatrikMokry\Orders\Api\Data\OrderInterface" type="PatrikMokry\Orders\Model\Data\Order" />
</config>
